.dashboard-header-component{
    height: 70px;
    padding: 0 4%;
    background-color: #328BC3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header-component .logo{
    position: relative;
    z-index: 6;
    font-size: 28px;
    font-family: 'Boogaloo', cursive;
    text-decoration: none;
    color: #fff;
}

.dashboard-header-component .menu{
    display: flex;
}

.dashboard-header-component .menu a{
    color: #fff;
    margin-right: 50px;
    text-decoration: none;
}

.dashboard-header-component .menu a:last-child{
    margin-right: 0;
}

.dashboard-header-component .menu a:hover{
    color: #E59C23;
}

.dashboard-header-component .login-links{
    position: relative;
}

.dashboard-header-component .login-links i{
    cursor: pointer;
    color: #fff;
}

.dashboard-header-component .login-links__inner{
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: #328BC3;
    border-radius: 5px;
    padding: 6px 0;
}

.dashboard-header-component .login-links__inner.open{
    display: flex;
}

.dashboard-header-component .login-links__inner a{
    margin: 6px 0;
    padding: 0 16px;
    user-select: none;
}

.dashboard-header-component .bars{
    position: relative;
    z-index: 5;
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.dashboard-header-component .mobile-menu{
    display: none;
    z-index: 3;
}
  
.dashboard-header-component .mobile-menu__nav.show{
    display: flex;
}
  
.dashboard-header-component .mobile-menu__nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #25668e;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.dashboard-header-component  .mobile-menu__nav__item{
    margin-bottom: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
  
.dashboard-header-component  .mobile-menu__nav__item:last-child{
    margin-bottom: 0;
}

.dashboard-header-component  .mobile-menu__nav__item:hover{
    color: #E59C23;
}

@media screen and (max-width: 925px){
    .dashboard-header-component .menu{
      display: none;
    }
    
    .dashboard-header-component .mobile-menu{
      display: block;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .dashboard-header-component .bars{
      display: block;
    }
}
  

