.hero-component{
    height: 100vh;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.hero-component p, .hero-component h1{
    margin-left: -800px;
    transition: margin-left 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hero-component .showOne{
    margin-left: 0px;
    transition: margin-left 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition-delay: 0.6s;
}

.hero-component .showTwo{
    margin-left: 0px;
    transition: margin-left 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition-delay: 1.2s;
}

.hero-component .showThree{
    margin-left: 0px;
    transition: margin-left 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition-delay: 1.7s;
}

.hero__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero__image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #328BC3;
    opacity: 0.8;
}

.hero-component p{
    font-size: 21px;
    font-weight: 300;
}

.hero-component h1{
    font-size: 80px;
}

.hero-component h1 span{
    color: #E59C23; 
}