.home-page main{
    display: flex;
    padding: 40px 4%;
}

.home-page .loader__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .loader {
    border: 8px solid #d3d3d3;
    border-top: 8px solid #73C0FC;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}