.home-header-component{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;

    animation-name: showHeader;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-fill-mode: forwards;
}

@keyframes showHeader{
    0%{
        top: -80px;
    }

    100%{
        top: 0;
    }
}

.home-header-component .logo{
    position: relative;
    font-size: 28px;
    font-family: 'Boogaloo', cursive;
    text-decoration: none;
    color: #fff;
    z-index: 6;
}

.home-header-component .menu{
    display: flex;
}

.home-header-component .menu a{
    color: #fff;
    margin-right: 50px;
    text-decoration: none;
}

.home-header-component .menu a:last-child{
    margin-right: 0;
}

.home-header-component .menu a:hover{
    color: #E59C23;
}

.home-header-component .login-links{
    position: relative;
}

.home-header-component .login-links i{
    cursor: pointer;
    color: #fff;
}

.home-header-component .login-links__inner{
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 0;
}

.home-header-component .login-links__inner.open{
    display: flex;
}

.home-header-component .login-links__inner a{
    margin: 6px 0;
    padding: 0 16px;
    user-select: none;
    color: #328BC3
}

.home-header-component .bars{
    position: relative;
    z-index: 5;
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.home-header-component .mobile-menu{
    display: none;
    z-index: 3;
}
  
.home-header-component .mobile-menu__nav.show{
    display: flex;
}
  
.home-header-component .mobile-menu__nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #25668e;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.home-header-component  .mobile-menu__nav__item{
    margin-bottom: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
  
.home-header-component  .mobile-menu__nav__item:last-child{
    margin-bottom: 0;
}

.home-header-component  .mobile-menu__nav__item:hover{
    color: #E59C23;
}
  
.home-header-component  .mobile-menu__nav__dashboard{
    background: #E59C23;
    padding: 10px 14px;
    border-radius: 5px;
}
  
.home-header-component  .mobile-menu__nav__dashboard:hover{
    background: #b3791d;
}
  
.home-header-component  .mobile-menu__nav__dashboard .mobile-menu__nav__item:hover{
    color: #FCFBFA;
}
  

@media screen and (max-width: 925px){
    .home-header-component .menu{
      display: none;
    }
    
    .home-header-component .mobile-menu{
      display: block;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .home-header-component .bars{
      display: block;
    }
}
  

